@import url("./theme-colors.css");

.f-raleway{
    font-family: 'Raleway', sans-serif;
    color: var(--root-font);
}

.header-bg{
    background-color: var(--background-color);
    z-index: 99;
}

.theme-icon:before{
    content: var(--switch-theme);
    color: var(--root-font);
    font-weight: bolder;
}

.theme-btn{
    transition: 200ms linear;
    transform: scale(1.1);
}

.theme-btn:hover{
    transform:rotateZ(-30deg);
}

.error-div{
    width: calc(200px + 40vmin);
    height: auto;
    margin-top: calc(50px + 10vmin);
    margin-bottom: 50px;
}

.intro{
    font-size: 2.5rem;
    margin-top: 3.2em;
}

.btn-font{
    font-size: 0.8rem;
}

.icon-rotate{
    transition: 300ms linear;
    height: 45px;
}

.icon-filter{
    filter: invert(var(--icon-filter));
}

.icon-rotate:hover{
    transform:rotateZ(-30deg) scale(0.8);
    cursor: pointer;
}

.image-area{
    min-height: 300px;
    max-height: 500px;
}

.image-area-example{
    max-height: 400px;
    border-radius: 10px;
    padding: 0;
    filter: invert(var(--example-img-filter));
}

.social-icons{
    width: 20px;
}

.social-icons-bg{
    background-color: #fff;
    display: flex;
    border-radius: 8px;
    transition: 300ms linear;
    transform: rotateZ(0deg) scale(0.85);
}

.social-icons-bg:hover{
    transform:rotateZ(-360deg) scale(1);
    background-color: #2a7eeb;
}

.social-icons-bg:hover .social-icons{
    filter: invert(1);
}

.footer-class{
    background: linear-gradient(#213547 , #14243a);
    border-radius: 15px 15px 0 0;
    margin-top: 40px;
    padding-top: 10px;
}

@media (min-width:768px) {
    .intro{
        font-size: 3.5rem;
        margin-top: 3.5em;
    }

    .btn-font{
        font-size: 0.88rem;
    }

    .icon-rotate{
        height: 60px;
    }
    
}