@import url("./theme-colors.css");

.f-raleway{
    font-family: 'Raleway', sans-serif;
    color: var(--root-font);
}

.section-heading{
    font-size:2.2rem;
}

.header-bg{
    z-index: 99;
}

.theme-icon:before{
    content: var(--switch-theme);
    color: var(--root-font);
    font-weight: bolder;
}

.theme-btn{
    transition: 200ms linear;
    transform: scale(1.1);
}

.theme-btn:hover{
    transform:rotateZ(-30deg);
}

.error-div{
    width: calc(200px + 40vmin);
    height: auto;
    margin-top: calc(50px + 10vmin);
    margin-bottom: 50px;
}

.intro{
    font-size: 2.5rem;
    margin-top: 3.2em;
}

.btn-font{
    font-size: 0.8rem;
}

.icon-rotate{
    transition: 300ms linear;
    height: 45px;
}

.icon-filter{
    filter: invert(var(--icon-filter));
}

.icon-rotate:hover{
    transform:rotateZ(-30deg) scale(0.8);
    cursor: pointer;
}

.image-area{
    min-height: 300px;
    max-height: 500px;
}

.image-area-example{
    max-height: 400px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 0;
    filter: invert(var(--example-img-filter));
}

.social-icons{
    width: 20px;
}

.social-icons-bg{
    background-color: #fff;
    display: flex;
    border-radius: 8px;
    transition: 300ms linear;
    transform: rotateZ(0deg) scale(0.85);
}

.social-icons-bg:hover{
    transform:rotateZ(-360deg) scale(1);
    background-color: #2a7eeb;
}

.social-icons-bg:hover .social-icons{
    filter: invert(1);
}

.footer-class{
    background: linear-gradient(#213547 , #14243a);
    border-radius: 15px 15px 0 0;
    padding-top: 10px;
}

.intro-div{
    position: relative;
}

.intro-div::before{
    content: "";
    background-image: url("./bg.png");
    background-repeat:no-repeat;
    background-size:cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: var(--root-div-opacity);
}

.text-secondary{
    color: var(--text-secondary) !important;
}

.custom-tooltip {
    width:fit-content !important;
}

.create{
    background-color: var(--background-secondary-color);
    color: var(--root-font);
}

.create input[type = "text"] , .create textarea , .create textarea:focus{
    background-color: var(--root-color) ;
    color: var(--root-font);
}

.create label{
    color: var(--root-font);
}

.move-btn-bg{
    background-color: var(--move-btn-bg);
}

.addons-author , .addons-author:hover{
    color:var(--addons-author-color);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.addons-title , .addons-title:hover{
    color:var(--addons-title-color);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.skill-btn-bg , .skill-btn-bg:hover{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    padding: 0;
    color: var(--root-color);
    border: none;
    transition:100ms linear ;
}

.skill-btn-bg:active{
    transform: scale(0.9);
}

.added-skill , .added-skill:hover{
    background-color: var(--skill-btn-bg-added);
    color: var(--root-font);
}

.available-skill , .available-skill:hover{
    background-color: var(--skill-btn-bg);
}

.skill-btn-bg img , .skill-btn-bg span{
    padding: 2.5px 0;
}

.dropdown ul , .dropdown li{
    background-color: var(--root-color);
    color: var(--root-font);
    cursor: pointer;
}

.dropdown li{
    border: 0.3px var(--background-secondary-color) solid;
}

.dropdown button{
    color: var(--root-font);
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

code {
    color: var(--root-font);
    margin-left: 5px;
    font-style: italic;
    font-weight: 600;
    font-family: monospace;
}

@media (min-width:768px) {
    .intro{
        font-size: 3.5rem;
        margin-top: 3.5em;
    }

    .section-heading{
        font-size:3.2rem;
    }

    .btn-font{
        font-size: 0.88rem;
    }

    .icon-rotate{
        height: 60px;
    }
    
}
  