.dark-theme{
    --shadow-color:#0c3f9e42;
    --background-color:#1A1A2E;
    --background-secondary-color:#1d1f2b;
    --link-color:#fcfcfc;
    --link-hover-background:#bfcbff15;
    --root-color:#101220;
    --addons-author-color:#00f58f;
    --addons-title-color:#00e1ff;
    --move-btn-bg:#383a44;
    --root-font:#fff;
    --skill-btn-bg:#99ebc3;
    --skill-btn-bg-added:#34a3e4;
    --switch-theme:"light_mode";
    --icon-filter:0.85;
    --example-img-filter:0;
    --text-secondary:#afafaf;
    --root-div-opacity:0.13;
}

.light-theme{
    --shadow-color:#b3b1b149;
    --background-color:#fcfcfc;
    --background-secondary-color:#e7fff9;
    --link-color:#1C3879;
    --link-hover-background:#bfcbff55;
    --root-color:#fefefe;
    --addons-author-color:#4d00db;
    --addons-title-color:#0044ff;
    --move-btn-bg:#1a2720;
    --root-font:#091e2b;
    --skill-btn-bg:#6199be;
    --skill-btn-bg-added:#4bd838;
    --switch-theme:"dark_mode";
    --icon-filter:0;
    --example-img-filter:0.05;
    --text-secondary:#616060;
    --root-div-opacity:0.2;
}

*{
    --gold:#F9B208;
    --gray:#e2e2e2;
    --hover-color:#3CCF4E;
    --light-gold: #FFF80A;
    --footer-bg:#3385fff5;
    --dark-blue:#003865;
    --footer-dblue:#1C3879;
}