.dark-theme{
    --shadow-color:#0c3f9e42;
    --background-color:#1A1A2E;
    --link-color:#fcfcfc;
    --link-hover-background:#bfcbff15;
    --root-color:#101220;
    --root-font:#fff;
    --switch-theme:"light_mode";
    --icon-filter:0.85;
    --example-img-filter:0;
    --text-secondary:#afafaf;
    --root-div-opacity:0.13;
}

.light-theme{
    --shadow-color:#b3b1b149;
    --background-color:#fcfcfc;
    --link-color:#1C3879;
    --link-hover-background:#bfcbff55;
    --root-color:#fefefe;
    --root-font:#091e2b;
    --switch-theme:"dark_mode";
    --icon-filter:0;
    --example-img-filter:0.05;
    --text-secondary:#616060;
    --root-div-opacity:0.2;
}

*{
    --gold:#F9B208;
    --gray:#e2e2e2;
    --hover-color:#3CCF4E;
    --light-gold: #FFF80A;
    --footer-bg:#3385fff5;
    --dark-blue:#003865;
    --footer-dblue:#1C3879;
}